# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/EjercicioSumarNumeros/nbproject/private/
/EjercicioSumarNumeros/build/
/EjercicioFactorial/nbproject/private/
/EjercicioFactorial/build/
/EjemploExcepciones/nbproject/private/
/EjemploExcepciones/build/
/EjercicioNumerosPrimos/nbproject/private/
/EjercicioNumerosPrimos/build/
/EjemploRecursividad/nbproject/private/
/EjemploRecursividad/build/
/EjercicioFibonnaci/nbproject/private/
/SaludoClase/nbproject/private/
/SaludoClase/build/
/ClaseDog/nbproject/private/
/ClaseDog/build/
/ClaseDog/dist/
/EjemploFoco/nbproject/private/
/EjemploFoco/build/
/EjemploHerencia/nbproject/private/
/EjercicioLibroInfantil/nbproject/private/
/EjercicioLibroInfantil/build/
/EjemploInterfaces/nbproject/private/
/EjemploInterfaces/build/
/EjemploFileReader/nbproject/private/
/EjemploFileReader/build/
/EjercicioPersona/nbproject/private/